<header class="relative flex justify-between bg-white px-4 py-3 drop-shadow-lg">
  <div class="flex items-center gap-6">
    <div>
      <img
        src="./assets/images/logo/kycus-logo.webp"
        alt="Kycus"
        class="w-20 object-contain"
      />
    </div>

    <div class="flex flex-col items-start gap-1 text-primary">
      <h6>RE KYC - NON INDIVIDUAL</h6>
      <img
        src="./assets/images/logo/hdfc.webp"
        alt="HDFC"
        class="w-32 object-contain"
      />
    </div>
  </div>

  <div
    class="absolute left-1/2 top-1/2 flex translate-x-[-50%] translate-y-[-50%] flex-col gap-1 text-center text-primary"
  >
    <h6>TATA Consumer Products</h6>
    <span>Private Limited</span>
  </div>

  <div class="flex items-center gap-2">
    <div>
      <p>{{ ausInfo()?.ausName }}</p>
      <span class="text-xs text-gray-500">{{ getAusType }}</span>
    </div>
    <div>
      <img src="./assets/svgs/user.svg" alt="User" />
    </div>
  </div>
</header>
