<ng-container *ngIf="!isAuthenticated">
  <rekyc-email-validation
    class="h-full w-full flex-1"
    [token]="applicationToken"
    (emailVerified)="onEmailVerified($event)"
  />
</ng-container>

<section
  *ngIf="isAuthenticated"
  class="flex h-screen w-screen flex-col overflow-hidden"
>
  <rekyc-form-header class="w-full" [ausInfo]="ausInfo" />

  <main class="flex flex-1 items-center justify-center bg-gray-100">
    <div
      class="flex h-[90%] max-h-[90vh] w-[60%] flex-col overflow-hidden rounded-md bg-white shadow-md"
    >
      <div
        class="flex flex-shrink-0 items-center justify-between bg-secondary bg-opacity-10 p-10"
      >
        <ng-container
          *ngFor="let item of formList; let i = index; trackBy: trackStep"
        >
          <div
            class="flex cursor-pointer items-center gap-1 text-gray-500"
            [ngClass]="{
              'text-success': item.isCompleted,
              'text-secondary':
                currentForm() === item.step && !item.isCompleted,
              disabled: !item.canShow,
            }"
            (click)="setCurrentForm(item)"
            (keydown.enter)="setCurrentForm(item)"
            (keydown.space)="setCurrentForm(item)"
            tabindex="0"
          >
            <span
              class="flex size-5 items-center justify-center rounded-full text-white"
              [ngClass]="{
                'bg-success': item.isCompleted,
                'bg-secondary':
                  currentForm() === item.step && !item.isCompleted,
                'bg-gray-500': currentForm() !== item.step && !item.isCompleted,
              }"
            >
              {{ i + 1 }}
            </span>
            <span>{{ item.label }}</span>
          </div>

          <div
            *ngIf="i < formList.length - 1"
            class="mx-2 h-[1.5px] w-14"
            [ngClass]="{
              'bg-success': item.isCompleted,
              'bg-secondary': currentForm() === item.step && !item.isCompleted,
              'bg-gray-300': currentForm() !== item.step && !item.isCompleted,
            }"
          ></div>
        </ng-container>
      </div>

      <div class="flex-1 overflow-auto px-10 py-4">
        <div class="mb-4 w-full">
          <div class="flex items-center justify-between">
            <div class="flex flex-col items-start gap-1 text-primary">
              <h6>RE KYC - NON INDIVIDUAL</h6>
              <img
                src="./assets/images/logo/hdfc.webp"
                alt="HDFC"
                class="w-32 object-contain"
              />
            </div>

            <div class="flex flex-col gap-1 text-primary">
              <h6>TATA Consumer Products</h6>
              <span class="text-end">Private Limited</span>
            </div>
          </div>
          <hr class="mt-4" />
        </div>

        <ng-container [ngSwitch]="currentForm()">
          <rekyc-entity-details-form
            *ngSwitchCase="FormStep.ENTITY_DETAILS"
            class="w-full"
            (formNavigation)="onFormNavigation($event)"
          />
          <rekyc-declaration-form
            *ngSwitchCase="FormStep.DECLARATION"
            [ausInfo]="ausInfo"
          />
          <rekyc-personal-details
            *ngSwitchCase="FormStep.PERSONAL_DETAILS"
            (formNavigation)="onFormNavigation($event)"
          />
          <rekyc-kyc-form *ngSwitchCase="FormStep.KYC_FORM">
            KYC Form
          </rekyc-kyc-form>
          <p *ngSwitchCase="FormStep.E_SIGN">E-Sign</p>
        </ng-container>
      </div>
    </div>
  </main>
</section>
