<div class="flex flex-col gap-4">
  <div class="flex items-center justify-between">
    <div>
      <div class="flex items-center gap-2">
        <img src="./assets/svgs/thunder.svg" alt="" />
        <p class="font-medium text-secondary">Autofill form</p>
      </div>
      <p class="text-xs font-medium text-gray-500">
        Please upload the required entity documents and proofs.
      </p>
    </div>

    <div>
      <p class="font-medium text-secondary">Supports JPG, PNG, PDF</p>
      <p class="text-end text-xs text-gray-500">
        Max file size
        <strong>2 mb</strong>
      </p>
    </div>
  </div>

  <form
    [formGroup]="form"
    (ngSubmit)="submit('submit')"
    class="flex flex-col gap-4"
  >
    <div class="grid w-full grid-cols-1 items-stretch gap-4 md:grid-cols-2">
      <ui-rekycform-uploadwrapper>
        <div>
          <p>
            Select Proof of Identity
            <span
              *ngIf="form.get('identityProof.isRequired')?.value"
              class="text-red-500"
            >
              *
            </span>
          </p>
          <p class="text-xs text-gray-500">
            Name will fetched and validated with this
          </p>
        </div>

        <ui-select
          [options]="identityProofList"
          (valueChange)="onProofDocChange('identityProof', $event)"
          placeholder="Choose Proof of Identity"
          [defaultValue]="form.value.identityProof.file.selectedType"
        ></ui-select>

        <ui-upload-button
          *ngIf="!form.get('identityProof.file.name')?.value"
          accept=".pdf, .xlsx"
          [disabled]="form.value.identityProof.file.selectedType === ''"
          [loading]="isFileLoadingType('identityProof')"
          (selectedFile)="onFileSelection('identityProof', $event)"
        />

        <div
          *ngIf="form.get('identityProof.file.name')?.value"
          class="flex items-center gap-2"
        >
          <ui-filename
            *ngIf="form.get('identityProof.file.name')?.value"
            [fileName]="form.get('identityProof.file.name')?.value"
            (removeFile)="removeFile('identityProof')"
          />
          <lucide-icon
            *ngIf="isFileLoadingType('identityProof')"
            class="animate-slow-spin"
            name="loader-circle"
            color="#e67a4c"
            size="20"
          />
          <lucide-icon
            *ngIf="!isFileLoadingType('identityProof')"
            name="check"
            color="#219B17"
          />
        </div>

        <p
          class="text-sm text-red-500"
          *ngIf="
            form.get(['identityProof', 'file', 'name'])?.errors?.['required'] &&
            form.get(['identityProof', 'file', 'name'])?.touched
          "
        >
          Identity Proof is required
        </p>
      </ui-rekycform-uploadwrapper>

      <ui-rekycform-uploadwrapper>
        <div>
          <p>
            Select Proof of Address
            <span
              *ngIf="form.get('addressProof.isRequired')?.value"
              class="text-red-500"
            >
              *
            </span>
          </p>
          <p class="text-xs text-gray-500">
            Address will fetched and validated with this
          </p>
        </div>

        <ui-select
          [options]="addressProofList"
          (valueChange)="onProofDocChange('addressProof', $event)"
          placeholder="Choose Proof of Address"
          [defaultValue]="form.value.addressProof.file.selectedType"
        ></ui-select>

        <ui-upload-button
          *ngIf="!form.get('addressProof.file.name')?.value"
          accept=".pdf, .xlsx"
          [disabled]="form.value.addressProof.file.selectedType === ''"
          [loading]="isFileLoadingType('addressProof')"
          (selectedFile)="onFileSelection('addressProof', $event)"
        />

        <div
          *ngIf="form.get('addressProof.file.name')?.value"
          class="flex items-center gap-2"
        >
          <ui-filename
            *ngIf="form.get('addressProof.file.name')?.value"
            [fileName]="form.get('addressProof.file.name')?.value"
            (removeFile)="removeFile('addressProof')"
          />
          <lucide-icon
            *ngIf="isFileLoadingType('addressProof')"
            class="animate-slow-spin"
            name="loader-circle"
            color="#e67a4c"
            size="20"
          />
          <lucide-icon
            *ngIf="!isFileLoadingType('addressProof')"
            name="check"
            color="#219B17"
          />
        </div>

        <p
          class="text-sm text-red-500"
          *ngIf="
            form.get(['addressProof', 'file', 'name'])?.errors?.['required'] &&
            form.get(['addressProof', 'file', 'name'])?.touched
          "
        >
          Address Proof is required
        </p>
      </ui-rekycform-uploadwrapper>

      <ui-rekycform-uploadwrapper>
        <div>
          <p>
            Upload Photograph
            <span
              *ngIf="form.get('photograph.isRequired')?.value"
              class="text-red-500"
            >
              *
            </span>
          </p>
          <p class="text-xs font-semibold text-primary">Supports JPG, PNG</p>
          <span class="text-xs text-gray-500">
            Max size
            <strong>2mb</strong>
          </span>
        </div>

        <ui-upload-button
          *ngIf="!form.get('photograph.file.name')?.value"
          accept=".png, .jpg"
          [disabled]="form.value.photograph.file.selectedType === ''"
          [loading]="isFileLoadingType('photograph')"
          (selectedFile)="onFileSelection('photograph', $event)"
        />

        <div
          *ngIf="form.get('photograph.file.name')?.value"
          class="flex items-center gap-2"
        >
          <ui-filename
            *ngIf="form.get('photograph.file.name')?.value"
            [fileName]="form.get('photograph.file.name')?.value"
            (removeFile)="removeFile('photograph')"
          />
          <lucide-icon
            *ngIf="isFileLoadingType('photograph')"
            class="animate-slow-spin"
            name="loader-circle"
            color="#e67a4c"
            size="20"
          />
          <lucide-icon
            *ngIf="!isFileLoadingType('photograph')"
            name="check"
            color="#219B17"
          />
        </div>

        <p
          class="text-sm text-red-500"
          *ngIf="
            form.get(['photograph', 'file', 'name'])?.errors?.['required'] &&
            form.get(['photograph', 'file', 'name'])?.touched
          "
        >
          Photograph is required
        </p>
      </ui-rekycform-uploadwrapper>

      <ui-rekycform-uploadwrapper>
        <div>
          <p>
            Upload Specimen Signature
            <span
              *ngIf="form.get('signature.isRequired')?.value"
              class="text-red-500"
            >
              *
            </span>
          </p>
          <p class="text-xs text-gray-500">
            Sign on white background, capture a clear picture and upload it
          </p>
          <p class="text-xs text-primary">Supports JPG, PNG</p>
          <span class="text-xs text-gray-500">
            Max size
            <strong>2mb</strong>
          </span>
        </div>

        <ui-upload-button
          *ngIf="!form.get('signature.file.name')?.value"
          accept=".png, .jpg"
          [disabled]="form.value.signature.file.selectedType === ''"
          [loading]="isFileLoadingType('signature')"
          (selectedFile)="onFileSelection('signature', $event)"
        />

        <div
          *ngIf="form.get('signature.file.name')?.value"
          class="flex items-center gap-2"
        >
          <ui-filename
            *ngIf="form.get('signature.file.name')?.value"
            [fileName]="form.get('signature.file.name')?.value"
            (removeFile)="removeFile('signature')"
          />
          <lucide-icon
            *ngIf="isFileLoadingType('signature')"
            class="animate-slow-spin"
            name="loader-circle"
            color="#e67a4c"
            size="20"
          />
          <lucide-icon
            *ngIf="!isFileLoadingType('signature')"
            name="check"
            color="#219B17"
          />
        </div>

        <p
          class="text-sm text-red-500"
          *ngIf="
            form.get(['signature', 'file', 'name'])?.errors?.['required'] &&
            form.get(['signature', 'file', 'name'])?.touched
          "
        >
          Signature is required
        </p>
      </ui-rekycform-uploadwrapper>
    </div>

    <div
      class="flex items-center justify-end gap-2 border-t border-gray-300 py-4"
    >
      <ui-button
        label="Save Draft"
        class="btn-outline"
        (btnClick)="submit('save')"
      />
      <ui-button type="submit" label="Submit" class="py-[7px]" />
    </div>
  </form>
</div>
