<main class="flex items-center justify-center">
  <section
    class="card flex max-w-[400px] flex-col items-center justify-center gap-4"
  >
    <div class="w-1/2 max-w-40">
      <img src="./assets/images/logo/kycus.webp" alt="" />
    </div>

    <form
      class="flex w-11/12 flex-col gap-4"
      [formGroup]="loginForm"
      (submit)="submitLoginForm()"
    >
      <h4 class="self-start text-primary">Sign In</h4>

      <fieldset>
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          name="email"
          placeholder="Enter your email"
          [readOnly]="loginState().otpSent"
          formControlName="email"
          autofocus
          inputFormat="lowercase"
          [ngClass]="{ 'error-input': getFormError('email') }"
        />
        <p class="error-msg" *ngIf="getFormError('email')">
          {{ getFormError("email") }}
        </p>
      </fieldset>

      <fieldset *ngIf="loginState().otpSent">
        <label for="otp">OTP</label>
        <input
          type="text"
          id="otp"
          name="otp"
          placeholder="OTP"
          formControlName="otp"
          autocomplete="off"
          #otpInput
          [ngClass]="{ 'error-input': getFormError('otp') }"
        />
        <p class="error-msg" *ngIf="getFormError('otp')">
          {{ getFormError("otp") }}
        </p>
      </fieldset>

      <ui-otp
        label="OTP"
        [errorMessage]="getFormError('otp')"
        (otpEntered)="onOTPEntered($event)"
      ></ui-otp>

      <button
        type="submit"
        [ngClass]="{ loading: isLoading }"
        [disabled]="loginForm.invalid || isLoading"
      >
        {{ loginState().otpSent ? "Submit OTP" : "Send OTP" }}
      </button>
    </form>
    <p>Don't have an account? <a routerLink="/auth/signup">REGISTER</a></p>
  </section>
</main>
