<main class="flex items-center justify-center">
  <section
    class="card flex h-auto max-h-[90vh] w-[90%] flex-col items-center justify-start gap-4 rounded-lg border bg-white p-6 pt-4 sm:w-11/12 sm:pt-6 md:w-[740px]"
  >
    <div class="w-1/2 max-w-40 flex-shrink-0">
      <img
        src="./assets/images/logo/kycus.webp"
        alt="Logo"
        class="w-full object-contain"
      />
    </div>

    <h2 class="self-start">Sign Up</h2>

    <form
      class="grid w-full place-items-center gap-4"
      [formGroup]="signupForm"
      (submit)="submitForm()"
    >
      <div
        class="no-scrollbar grid h-[50vh] w-full flex-grow auto-rows-min gap-4 overflow-y-auto p-1 sm:h-auto sm:grid-cols-2 sm:justify-between"
      >
        <fieldset>
          <label for="name">Name</label>
          <input
            type="text"
            id="name"
            name="name"
            placeholder="Enter your name"
            formControlName="name"
            autofocus
          />
          <p class="error-msg" *ngIf="getFormError('name')">
            {{ getFormError("name") }}
          </p>
        </fieldset>

        <fieldset>
          <label for="email">Official Mail-ID</label>
          <input
            type="email"
            id="email"
            name="email"
            placeholder="Enter your E-Mail"
            formControlName="email"
            autocomplete="off"
            inputFormat="lowercase"
          />
          <p class="error-msg" *ngIf="getFormError('email')">
            {{ getFormError("email") }}
          </p>
        </fieldset>

        <fieldset>
          <label for="designation">Designation</label>
          <input
            type="text"
            id="designation"
            name="designation"
            placeholder="Enter your designation"
            formControlName="designation"
            autofocus
          />
          <p class="error-msg" *ngIf="getFormError('designation')">
            {{ getFormError("designation") }}
          </p>
        </fieldset>

        <fieldset>
          <label for="aadhaar">Aadhaar</label>
          <input
            type="number"
            id="aadhaar"
            name="aadhaar"
            placeholder="Enter your aadhaar"
            formControlName="aadhaar"
            autocomplete="off"
          />
          <p class="error-msg" *ngIf="getFormError('aadhaar')">
            {{ getFormError("aadhaar") }}
          </p>
        </fieldset>

        <fieldset>
          <label for="pan">Pan</label>
          <input
            type="text"
            id="pan"
            name="pan"
            placeholder="Enter your pan"
            formControlName="pan"
            autofocus
            inputFormat="uppercase"
          />
          <p class="error-msg" *ngIf="getFormError('pan')">
            {{ getFormError("pan") }}
          </p>
        </fieldset>

        <fieldset>
          <label for="mobileNo">Mobile Number</label>
          <input
            type="number"
            id="mobileNo"
            name="mobileNo"
            placeholder="Enter your mobile number"
            formControlName="mobileNo"
            autocomplete="off"
          />
          <p class="error-msg" *ngIf="getFormError('mobileNo')">
            {{ getFormError("mobileNo") }}
          </p>
        </fieldset>
      </div>

      <button type="submit" class="m-1 w-full">REGISTER</button>
    </form>
    <p>Already have an account? <a routerLink="/auth/signin">LOGIN</a></p>
  </section>
</main>
