<div class="flex flex-col gap-4">
  <div class="flex items-center justify-between">
    <div class="flex items-center">
      <div
        *ngFor="let item of screenHeaders"
        class="border-b-2 border-gray-300 px-4 py-2"
        [ngClass]="{
          'border-b-primary': currentScreen() === item.value,
        }"
      >
        <ui-button
          class="btn-nostyle font-medium"
          [ngClass]="{
            'text-gray-500': currentScreen() !== item.value,
            'text-primary': currentScreen() === item.value,
          }"
          [label]="item.label"
          (btnClick)="setCurrentScreen(item.value)"
        />
      </div>
    </div>

    <div>
      <ui-button
        label="Add"
        icon="plus"
        class="btn-secondary-light px-2"
        (btnClick)="handleAddBtn()"
      />
    </div>
  </div>

  <ng-container [ngSwitch]="currentScreen()">
    <ng-template
      *ngSwitchCase="'directors'"
      [ngTemplateOutlet]="directors"
    ></ng-template>
    <rekyc-bo-form *ngSwitchCase="'bo'" [addBO]="addBtnClicked" />
  </ng-container>
  <!--
  <div
    class="flex items-center justify-end gap-2 border-t border-gray-300 py-4"
  >
    <ui-button
      label="Save Draft"
      class="btn-outline"
      (btnClick)="submit('save')"
    />
    <ui-button
      type="submit"
      [label]="actionBtnLabel"
      [disabled]="!isFormValid"
      class="py-[7px]"
      (btnClick)="tabNavigation()"
    />
  </div> -->
</div>

<ng-template #directors>
  <div class="flex w-full flex-col gap-8">
    <div class="flex flex-col gap-6">
      <p class="font-medium text-gray-500">
        Declare the list of current directors of the company. In case of any
        inclusion or removal, please upload Form 32 along with a letterhead
        declaration.
      </p>

      <div class="w-full">
        <div class="flex w-full gap-2 p-2">
          <p class="w-[30%]">Director Name</p>
          <p class="flex-1 text-left">DIN Number</p>
          <p class="w-[50px]"></p>
          <p class="w-[250px] pl-8" *ngIf="isDirDetChanged()">
            Form 32
            <span class="text-red-500">*</span>
          </p>
        </div>
        <div class="flex">
          <div class="flex-1">
            <div *ngFor="let dir of directorsList" class="flex flex-1 border">
              <div class="flex min-h-14 w-[30%] items-center border-r px-2">
                {{ dir.name }}
              </div>
              <div class="flex min-h-14 flex-1 items-center border-r px-2">
                {{ dir.din }}
              </div>
              <div
                class="flex min-h-14 w-[50px] items-center justify-center px-2"
              >
                <lucide-icon
                  name="trash-2"
                  size="16"
                  color="#FF8754"
                  class="cursor-pointer"
                  (click)="tryDeleteDir(dir.din)"
                />
              </div>
            </div>
          </div>
          <div
            class="flex w-[250px] items-center justify-center border border-l-0"
            *ngIf="isDirDetChanged()"
          >
            <ui-upload-button accept=".pdf" label="Upload Form 32" />
          </div>
        </div>
      </div>
    </div>

    <div
      class="flex items-center justify-end gap-2 border-t border-gray-300 py-4"
    >
      <ui-button
        label="Save Draft"
        class="btn-outline"
        (btnClick)="submit('save')"
      />
      <ui-button
        type="submit"
        [label]="actionBtnLabel"
        [disabled]="!isFormValid"
        class="py-[7px]"
        (btnClick)="tabNavigation()"
      />
    </div>

    <ui-modal
      [showClose]="false"
      (close)="handleForm32Modal()"
      class="max-w-md"
      [isOpen]="isForm32ModalOpen()"
    >
      <div modalContent class="flex flex-col gap-8">
        <p class="text-md">
          Upon including or removing Directors, please upload Form-32 along with
          a letterhead declaration
        </p>

        <div class="flex justify-between gap-4">
          <button class="btn-outline w-1/2" (click)="decideDirChange('cancel')">
            Cancel
          </button>
          <button class="w-1/2" (click)="decideDirChange('continue')">
            Continue
          </button>
        </div>
      </div>
    </ui-modal>
  </div>
</ng-template>
