<section class="flex h-full flex-col gap-4">
  <div class="flex justify-between">
    <ui-input
      type="search"
      placeholder="Search Company"
      class="w-36"
      (valueChange)="onSearchInputChange($event)"
      aria-label="Search for a company"
      icon="search"
      iconColor="grey"
      [iconSize]="18"
    ></ui-input>

    <div class="flex items-center gap-2">
      <ui-button
        label="Filter"
        icon="sliders-horizontal"
        [iconSize]="14"
        class="btn-outline"
      />
      <ui-button label="Upload" icon="upload" [iconSize]="14" />
    </div>
  </div>

  <div class="flex-1 overflow-y-auto px-0.5">
    <table aria-labelledby="user-table">
      <thead class="sticky top-0">
        <tr>
          <th scope="col" class="w-[25%]">Company</th>
          <th scope="col" class="w-[25%]">Requested On</th>
          <th scope="col" class="w-[20%]">Status</th>
          <th scope="col" class="w-[30%]">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="filteredUsers.length === 0">
          <td colspan="4" class="text-center">No data found</td>
        </tr>

        <tr *ngFor="let item of filteredUsers; trackBy: trackRow" tabindex="0">
          <td>{{ item.company }}</td>
          <td>{{ item.requestedOn }}</td>
          <td
            [ngClass]="
              item.status.toLowerCase() === 'completed'
                ? 'text-success'
                : 'text-secondary'
            "
          >
            {{ item.status }}
          </td>
          <td class="flex items-center gap-2">
            <ui-button
              class="btn-outline px-2 py-1 text-xs font-semibold"
              label="Send Reminder"
              icon="bell-ring"
              [iconSize]="14"
              iconPos="right"
            />
            <ui-button
              class="btn-outline p-1.5 text-xs"
              icon="download"
              [iconSize]="14"
            />
            <ui-button
              class="btn-outline p-1.5 text-xs"
              icon="eye"
              [iconSize]="14"
            />
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <ui-pagination
    [active]="1"
    [totalItems]="users.length"
    class="self-center"
    (activeChange)="setActivePage($event)"
  />
</section>
