<div
  *ngIf="isOpen"
  class="modal-overlay fixed inset-0 z-50 flex items-center justify-center"
>
  <div
    class="absolute inset-0 bg-black bg-opacity-40 backdrop-blur-sm transition-opacity"
    (click)="onOverlayClick($event)"
    (keydown.enter)="onOverlayClick($event)"
    (keydown.space)="onOverlayClick($event)"
    tabindex="0"
    role="button"
    aria-label="Close overlay"
  ></div>

  <div
    class="modal-container animate-fade-in relative w-full max-w-lg scale-95 transform rounded-xl bg-white shadow-lg transition-transform"
    [ngClass]="class"
  >
    <div
      *ngIf="header || showClose"
      class="flex items-center justify-between border-b p-4"
    >
      <h5 *ngIf="header" class="font-semibold text-primary">
        {{ header }}
      </h5>
      <button
        *ngIf="showClose"
        (click)="closeModal()"
        class="group appearance-none border-none bg-transparent p-0 outline-none focus:ring-0 active:ring-0"
      >
        <lucide-icon
          name="x"
          size="20"
          class="text-gray-900 transition-transform duration-200 ease-in-out group-hover:scale-125"
        ></lucide-icon>
      </button>
    </div>

    <div class="max-h-[70vh] overflow-auto px-10 py-6">
      <ng-content></ng-content>
    </div>

    <div *ngIf="footer" class="flex justify-end gap-3 border-t p-4">
      <ng-container *ngTemplateOutlet="footer"></ng-container>
    </div>
  </div>
</div>
