@import "./assets/styles/global";

html,
body {
  width: 100vw;
  min-height: 100dvh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
  display: grid;
  grid-template-rows: 1fr;
}

body {
  background: linear-gradient(
    to right,
    rgb(21, 58, 124) 15%,
    /* 15% blue */ rgb(180, 124, 108) 90%
  ) !important; /* 75% reddish */
}
