<!-- Overlay -->
<div
  *ngIf="isOpen"
  class="fixed inset-0 z-50 bg-gray-600 bg-opacity-50 transition-opacity duration-300 ease-in-out"
  (click)="sheetDismissOnOutside && close()"
  (keydown.enter)="sheetDismissOnOutside && close()"
  (keydown.space)="sheetDismissOnOutside && close()"
  tabindex="0"
></div>

<!-- Sheet Panel -->
<div
  class="fixed top-0 z-50 flex h-full min-w-[600px] max-w-3xl transform flex-col bg-white shadow-lg transition-transform duration-300 ease-linear"
  [ngClass]="[
    position === 'right' ? 'right-0' : 'left-0',
    isOpen
      ? 'translate-x-0'
      : position === 'right'
        ? 'translate-x-full'
        : '-translate-x-full',
    class,
  ]"
>
  <!-- Close Button -->
  <button
    *ngIf="showClose"
    (click)="close()"
    class="group absolute right-2 top-2 appearance-none border-none bg-transparent p-0 outline-none focus:ring-0 active:ring-0"
    tabindex="0"
  >
    <lucide-icon
      name="x"
      size="20"
      class="text-gray-900 transition-transform duration-200 ease-in-out group-hover:scale-125"
    ></lucide-icon>
  </button>

  <!-- Main Content Area (flex column layout) -->
  <div class="flex h-full flex-col">
    <!-- Header -->
    <div class="sticky top-0 z-10 bg-white shadow-sm" [ngClass]="headerClass">
      <ng-content select="[sheet-header]"></ng-content>
    </div>

    <!-- Scrollable Content -->
    <div class="flex-1 overflow-y-auto" [ngClass]="contentClass">
      <ng-content></ng-content>
    </div>

    <!-- Footer -->
    <div
      class="sticky bottom-0 z-10 bg-white shadow-sm"
      [ngClass]="footerClass"
    >
      <ng-content select="[sheet-footer]"></ng-content>
    </div>
  </div>
</div>
