// Variants
$primary: #01327E;
$secondary: #CE8769;

// Text Colors
$text-body: #454F5E;
$text-accent: #AEBDD2;
$text-dark: #050E1C;
$text-subtle: #7B8798;

// Indicators
$failure: #E74C3C;
$success: #27AE60;
$warning: #F39C12;
$info: #3498DB;

// Backgrounds
$bg-light: #F8F9FA;
$bg-dark: #1E293B;
$border-color: #D1D5DB;

// Theme Colors
$white: #FFFFFF
