@import "./colors";
@import "./variables";
@import "./utilities";
@import "./tailwind";

.modal-open {
  overflow: hidden;
  height: 100dvh;
  width: 100vw;
  touch-action: none; /* Prevents touch scrolling */
}

.modal-open > * {
  pointer-events: none; /* Disable interaction for everything */
}

.modal-open .modal-container {
  pointer-events: auto; /* Enable interaction only for the modal */
}
