@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply box-border;
  }

  main {
    @apply w-full h-full;
  }

  [type="text"],
  [type="email"],
  [type="password"],
  [type="number"],
  [type="tel"],
  [type="url"],
  [type="search"],
  textarea,
  select {
    @apply rounded-md;
  }

  [type="text"]:focus,
  [type="email"]:focus,
  [type="password"]:focus,
  [type="number"]:focus,
  [type="tel"]:focus,
  [type="url"]:focus,
  [type="search"]:focus,
  textarea:focus,
  select:focus {
    @apply appearance-none border-none ring-2 outline-none ring-primary bg-white;
  }
}

@layer components {
  h2 {
    @apply capitalize text-xl text-primary font-bold;
  }

  fieldset {
    @apply w-full flex flex-col gap-2;
  }

  a {
    @apply text-primary font-semibold cursor-pointer;
  }

  .error-msg {
    @apply text-red-500 text-sm;
  }

  button {
    @apply border-none p-2 bg-primary text-white rounded-md focus:ring-primary disabled:opacity-70 disabled:cursor-not-allowed;
  }

  @layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }
    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}
