<ui-modal
  [isOpen]="isModalOpen && !isOpenFilePreview"
  header="Bulk Upload"
  [showClose]="true"
  [class]="'max-w-lg'"
  (close)="handleModal()"
>
  <div
    class="flex items-center justify-center rounded-xl border-2 border-dashed border-primary p-6"
    (dragover)="onDragOver($event)"
    (drop)="onDrop($event)"
    (dragleave)="onDragLeave()"
    [ngClass]="{ 'bg-primary/10': isDragging }"
  >
    <div class="flex w-2/3 flex-col items-center gap-4 text-primary">
      <div class="flex flex-col items-center gap-2">
        <div class="w-14">
          <img src="./assets/images/icons/upload-file.svg" alt="Upload File" />
        </div>
        <p>Drag & Drop</p>
      </div>

      <div class="flex w-full items-center gap-2">
        <hr />
        <span>or</span>
        <hr />
      </div>

      <input
        #file
        id="file"
        type="file"
        class="hidden"
        accept=".xlsx"
        (change)="handleFile($event)"
      />

      <ui-button
        label="Browse files"
        class="btn-outline"
        (btnClick)="file.click()"
      />

      <p class="text-pretty text-center">
        Supports only <strong>EXCEL format</strong> <br />Should be same as
        Given format <br />Max File Size <strong>20MB</strong>
      </p>

      <a class="text-secondary">Download Sample</a>
    </div>
  </div>
</ui-modal>

<ui-modal
  [isOpen]="isOpenFilePreview"
  header="Bulk Upload"
  [footer]="footer"
  [showClose]="true"
  [contentClass]="'p-0'"
  (close)="handlePreviewModal()"
>
  <div
    class="flex min-h-[50vh] w-full flex-col items-center justify-center gap-3"
  >
    <ng-container *ngIf="isDataFetching">
      <div class="relative h-1 w-20 overflow-hidden rounded-lg bg-gray-300">
        <div
          class="animate-moving-line h-full w-2/5 rounded-lg bg-primary"
        ></div>
      </div>
      <p class="mt-2 text-primary">Fetching Data...</p>
    </ng-container>

    <ng-container *ngIf="!isDataFetching && parsedData">
      <div class="w-full flex-1 overflow-y-auto px-0.5">
        <table aria-labelledby="user-table">
          <thead class="sticky top-0">
            <tr>
              <th scope="col" class="w-[25%]">Company</th>
              <th scope="col" class="w-[25%]">Requested On</th>
              <th scope="col" class="w-[20%]">Status</th>
              <th scope="col" class="w-[30%]">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let item of filteredData; trackBy: trackRow"
              tabindex="0"
            >
              <td>{{ item.companyName }}</td>
              <td>{{ item.requestedOn }}</td>
              <td
                [ngClass]="
                  item.status.toLowerCase() === 'completed'
                    ? 'text-success'
                    : 'text-secondary'
                "
              >
                {{ item.status }}
              </td>
              <td class="flex items-center gap-2">
                <ui-button
                  class="btn-outline-compact font-semibold"
                  label="Send Reminder"
                  icon="bell-ring"
                  [iconSize]="14"
                  iconPos="right"
                />
                <ui-button
                  class="btn-outline-compact p-1.5"
                  icon="download"
                  [iconSize]="14"
                />
                <ui-button
                  class="btn-outline-compact p-1.5"
                  icon="eye"
                  [iconSize]="14"
                />
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <ui-pagination
        [active]="1"
        [totalItems]="parsedData.length"
        class="self-center"
        (activeChange)="setActivePage($event)"
      />
    </ng-container>
  </div>

  <ng-template #footer>
    <div class="flex w-full items-center justify-between">
      <p class="font-semibold text-primary">
        Please check all the details are right and submit
      </p>

      <div class="flex items-center gap-4">
        <ui-button class="btn-nostyle" label="Cancel" />

        <ui-button label="Submit" />
      </div>
    </div>
  </ng-template>
</ui-modal>
