<ui-modal
  [isOpen]="isModalOpen"
  header="Bulk Upload"
  [showClose]="true"
  (close)="handleModal()"
>
  <div
    class="flex items-center justify-center border-2 border-dashed border-primary p-6"
  >
    <div class="flex w-2/3 flex-col items-center gap-4 text-primary">
      <div class="flex flex-col items-center gap-2">
        <div class="w-14">
          <img src="./assets/images/icons/upload-file.svg" alt="Upload File" />
        </div>
        <p>Drag & Drop</p>
      </div>

      <div class="flex w-full items-center gap-2">
        <hr />
        <span>or</span>
        <hr />
      </div>

      <input #file id="file" type="file" class="hidden" />

      <ui-button
        label="Browse files"
        class="btn-outline"
        (btnClick)="file.click()"
      />

      <p class="text-pretty text-center">
        Supports only <strong>EXCEL format</strong> <br />Should be same as
        Given format <br />Max File Size <strong>20mb</strong>
      </p>

      <a class="text-secondary">Download Sample</a>
    </div>
  </div>
</ui-modal>
