<div class="flex flex-col gap-4">
  <div class="flex items-center justify-between">
    <div>
      <div class="flex items-center gap-2">
        <img src="./assets/svgs/thunder.svg" alt="" />
        <p class="font-medium text-secondary">Autofill form</p>
      </div>
      <p class="text-xs font-medium text-gray-500">
        Please upload the required entity documents and proofs.
      </p>
    </div>

    <div>
      <p class="font-medium text-secondary">Supports JPG, PNG, PDF</p>
      <p class="text-end text-xs text-gray-500">
        Max file size
        <strong>2 mb</strong>
      </p>
    </div>
  </div>

  <form
    [formGroup]="form"
    (ngSubmit)="submit('submit')"
    class="flex flex-col gap-4"
  >
    <div class="grid w-full grid-cols-1 gap-4 md:grid-cols-2">
      <ui-rekycform-uploadwrapper>
        <p>
          Company's PAN
          <span *ngIf="form.get('pan.isRequired')?.value" class="text-red-500">
            *
          </span>
        </p>
        <ui-upload-button
          *ngIf="!form.get('pan.file.name')?.value"
          accept=".pdf, .xlsx"
          [disabled]="form.value.pan.file.selectedType === ''"
          (selectedFile)="onFileSelection('pan', $event)"
        />

        <div
          *ngIf="form.get('pan.file.name')?.value"
          class="flex items-center gap-2"
        >
          <ui-filename
            *ngIf="form.get('pan.file.name')?.value"
            [fileName]="form.get('pan.file.name')?.value"
            (removeFile)="removeFile('pan')"
          />
          <lucide-icon
            *ngIf="isFileLoadingType('pan')"
            class="animate-slow-spin"
            name="loader-circle"
            color="#e67a4c"
            size="20"
          />
          <lucide-icon
            *ngIf="!isFileLoadingType('pan')"
            name="check"
            color="#219B17"
          />
        </div>

        <p
          class="text-sm text-red-500"
          *ngIf="
            form.get(['pan', 'file', 'name'])?.errors?.['required'] &&
            form.get(['pan', 'file', 'name'])?.touched
          "
        >
          PAN is required
        </p>
      </ui-rekycform-uploadwrapper>

      <ui-rekycform-uploadwrapper>
        <p>
          Company's GSTIN
          <span
            *ngIf="form.get('gstin.isRequired')?.value"
            class="text-red-500"
          >
            *
          </span>
        </p>

        <ui-upload-button
          *ngIf="!form.get('gstin.file.name')?.value"
          accept=".pdf, .xlsx"
          [disabled]="form.value.gstin.file.selectedType === ''"
          [loading]="isFileLoadingType('gstin')"
          (selectedFile)="onFileSelection('gstin', $event)"
        />

        <div
          *ngIf="form.get('gstin.file.name')?.value"
          class="flex items-center gap-2"
        >
          <ui-filename
            *ngIf="form.get('gstin.file.name')?.value"
            [fileName]="form.get('gstin.file.name')?.value"
            (removeFile)="removeFile('gstin')"
          />
          <lucide-icon
            *ngIf="isFileLoadingType('gstin')"
            class="animate-slow-spin"
            name="loader-circle"
            color="#e67a4c"
            size="20"
          />
          <lucide-icon
            *ngIf="!isFileLoadingType('gstin')"
            name="check"
            color="#219B17"
          />
        </div>

        <p
          class="text-sm text-red-500"
          *ngIf="
            form.get(['gstin', 'file', 'name'])?.errors?.['required'] &&
            form.get(['gstin', 'file', 'name'])?.touched
          "
        >
          GSTIN is required
        </p>
      </ui-rekycform-uploadwrapper>

      <ui-rekycform-uploadwrapper>
        <p>
          Select Proof of Address
          <span
            *ngIf="form.get('addressProof.isRequired')?.value"
            class="text-red-500"
          >
            *
          </span>
        </p>

        <ui-select
          [options]="entityAddressProofList"
          (valueChange)="onAddressProofChange($event)"
          placeholder="Choose Proof of Address"
          [defaultValue]="'electricity_bill'"
        ></ui-select>

        <ui-upload-button
          *ngIf="!form.get('addressProof.file.name')?.value"
          accept=".pdf, .xlsx"
          [disabled]="form.value.addressProof.file.selectedType === ''"
          [loading]="isFileLoadingType('addressProof')"
          (selectedFile)="onFileSelection('addressProof', $event)"
        />

        <div
          *ngIf="form.get('addressProof.file.name')?.value"
          class="flex items-center gap-2"
        >
          <ui-filename
            *ngIf="form.get('addressProof.file.name')?.value"
            [fileName]="form.get('addressProof.file.name')?.value"
            (removeFile)="removeFile('addressProof')"
          />
          <lucide-icon
            *ngIf="isFileLoadingType('addressProof')"
            class="animate-slow-spin"
            name="loader-circle"
            color="#e67a4c"
            size="20"
          />
          <lucide-icon
            *ngIf="!isFileLoadingType('addressProof')"
            name="check"
            color="#219B17"
          />
        </div>

        <p
          class="text-sm text-red-500"
          *ngIf="
            form.get(['addressProof', 'file', 'name'])?.errors?.['required'] &&
            form.get(['addressProof', 'file', 'name'])?.touched
          "
        >
          Address Proof is required
        </p>
      </ui-rekycform-uploadwrapper>
    </div>

    <div>
      <p class="text-base font-semibold">Entity Proof</p>
      <span class="text-gray-500">All documents are mandatory</span>
    </div>

    <div class="grid w-full grid-cols-1 gap-4 md:grid-cols-2">
      <ui-rekycform-uploadwrapper>
        <p>
          COI (Certificate of Incoporation)
          <span *ngIf="form.get('coi.isRequired')?.value" class="text-red-500">
            *
          </span>
        </p>

        <ui-upload-button
          *ngIf="!form.get('coi.file.name')?.value"
          accept=".pdf, .xlsx"
          [disabled]="form.value.coi.file.selectedType === ''"
          [loading]="isFileLoadingType('coi')"
          (selectedFile)="onFileSelection('coi', $event)"
        />

        <div
          *ngIf="form.get('coi.file.name')?.value"
          class="flex items-center gap-2"
        >
          <ui-filename
            *ngIf="form.get('coi.file.name')?.value"
            [fileName]="form.get('coi.file.name')?.value"
            (removeFile)="removeFile('coi')"
          />
          <lucide-icon
            *ngIf="isFileLoadingType('coi')"
            class="animate-slow-spin"
            name="loader-circle"
            color="#e67a4c"
            size="20"
          />
          <lucide-icon
            *ngIf="!isFileLoadingType('coi')"
            name="check"
            color="#219B17"
          />
        </div>

        <p
          class="text-sm text-red-500"
          *ngIf="
            form.get(['coi', 'file', 'name'])?.errors?.['required'] &&
            form.get(['coi', 'file', 'name'])?.touched
          "
        >
          COI is required
        </p>
      </ui-rekycform-uploadwrapper>

      <ui-rekycform-uploadwrapper>
        <p>
          MOA (Memorandum of Association)
          <span *ngIf="form.get('moa.isRequired')?.value" class="text-red-500">
            *
          </span>
        </p>

        <ui-upload-button
          *ngIf="!form.get('moa.file.name')?.value"
          accept=".pdf, .xlsx"
          [disabled]="form.value.moa.file.selectedType === ''"
          [loading]="isFileLoadingType('moa')"
          (selectedFile)="onFileSelection('moa', $event)"
        />

        <div
          *ngIf="form.get('moa.file.name')?.value"
          class="flex items-center gap-2"
        >
          <ui-filename
            *ngIf="form.get('moa.file.name')?.value"
            [fileName]="form.get('moa.file.name')?.value"
            (removeFile)="removeFile('moa')"
          />
          <lucide-icon
            *ngIf="isFileLoadingType('moa')"
            class="animate-slow-spin"
            name="loader-circle"
            color="#e67a4c"
            size="20"
          />
          <lucide-icon
            *ngIf="!isFileLoadingType('moa')"
            name="check"
            color="#219B17"
          />
        </div>

        <p
          class="text-sm text-red-500"
          *ngIf="
            form.get(['moa', 'file', 'name'])?.errors?.['required'] &&
            form.get(['moa', 'file', 'name'])?.touched
          "
        >
          MOA is required
        </p>
      </ui-rekycform-uploadwrapper>

      <ui-rekycform-uploadwrapper>
        <p>
          AOA (Articles of Association)
          <span *ngIf="form.get('aoa.isRequired')?.value" class="text-red-500">
            *
          </span>
        </p>

        <ui-upload-button
          *ngIf="!form.get('aoa.file.name')?.value"
          accept=".pdf, .xlsx"
          [disabled]="form.value.aoa.file.selectedType === ''"
          [loading]="isFileLoadingType('aoa')"
          (selectedFile)="onFileSelection('aoa', $event)"
        />

        <div
          *ngIf="form.get('aoa.file.name')?.value"
          class="flex items-center gap-2"
        >
          <ui-filename
            *ngIf="form.get('aoa.file.name')?.value"
            [fileName]="form.get('aoa.file.name')?.value"
            (removeFile)="removeFile('aoa')"
          />
          <lucide-icon
            *ngIf="isFileLoadingType('aoa')"
            class="animate-slow-spin"
            name="loader-circle"
            color="#e67a4c"
            size="20"
          />
          <lucide-icon
            *ngIf="!isFileLoadingType('aoa')"
            name="check"
            color="#219B17"
          />
        </div>

        <p
          class="text-sm text-red-500"
          *ngIf="
            form.get(['aoa', 'file', 'name'])?.errors?.['required'] &&
            form.get(['aoa', 'file', 'name'])?.touched
          "
        >
          AOA is required
        </p>
      </ui-rekycform-uploadwrapper>
    </div>

    <div
      class="flex items-center justify-end gap-2 border-t border-gray-300 py-4"
    >
      <ui-button
        label="Save Draft"
        class="btn-outline"
        (btnClick)="submit('save')"
      />
      <ui-button type="submit" label="Submit" class="py-[7px]" />
    </div>
  </form>
</div>
