<fieldset>
  <label *ngIf="label" [for]="id || name">{{ label }}</label>

  <input
    [type]="type"
    [id]="id"
    [name]="name"
    [placeholder]="placeholder"
    [ngClass]="{ 'error-input': errorMessage }"
    (input)="handleInput($event)"
    [attr.disabled]="disabled ? true : null"
    [attr.required]="required ? true : null"
    [attr.readonly]="readonly ? true : null"
    [attr.autofocus]="autofocus ? true : null"
    [attr.maxlength]="maxlength !== undefined ? maxlength : null"
    [attr.min]="min !== undefined ? min : null"
    [attr.max]="max !== undefined ? max : null"
    [attr.pattern]="pattern"
    [attr.autocomplete]="autocomplete"
    #inputElement
  />

  <p class="error-msg" *ngIf="errorMessage">
    {{ errorMessage }}
  </p>
</fieldset>
